@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInbottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media screen and (max-width: 75em) {
    body {
      padding: 0; } }

body {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
    @media screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin: 0 auto;
    animation: moveInRight 1s ease-out; }
    @media screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: transform .2s; }
  @media screen and (max-width: 75em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.25rem;
      padding: 0 2rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.center-text {
  text-align: center !important; }

.mb-s {
  margin-bottom: 1.5rem !important; }

.mb-m {
  margin-bottom: 4rem !important; }
  @media screen and (max-width: 56.25em) {
    .mb-m {
      margin-bottom: 3rem !important; } }

.mb-l {
  margin-bottom: 8rem !important; }
  @media screen and (max-width: 56.25em) {
    .mb-l {
      margin-bottom: 5rem !important; } }

.mt-l {
  margin-top: 8rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .15;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: transform .4s ease-out;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -1;
  transition: all .4s ease-out; }

.btn--animated {
  animation: moveInbottom .5s ease-out .25s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s ease-out; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all 0.5s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__pic {
    height: 23rem;
    background-blend-mode: screen;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__pic--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__pic--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__pic--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    z-index: 1; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media screen and (max-width: 75em) {
    .card {
      height: auto;
      border-radius: 3px;
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
      background-color: #fff; }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__side--back {
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        padding: 6rem 3rem 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        transform: translate(-50%, 0); }
      .card__price-box {
        margin-bottom: 3rem; } }

.complex {
  position: relative; }
  .complex__photo {
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    outline-offset: 2rem;
    transition: all 0.2s ease-out; }
    .complex__photo--p1 {
      top: -2rem;
      left: 0; }
    .complex__photo--p2 {
      top: 2rem;
      right: 0; }
    .complex__photo--p3 {
      top: 10rem;
      left: 20%; }
    .complex__photo:hover {
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      transform: scale(1.03) translateY(-0.5rem);
      outline: 2rem solid #55c57a;
      z-index: 11; }
    @media screen and (max-width: 37.5em) {
      .complex__photo {
        width: 40%;
        box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
        .complex__photo--p1 {
          top: 0; }
        .complex__photo--p2 {
          top: 0; }
        .complex__photo--p3 {
          top: -1rem;
          left: 30%; } }
  .complex:hover .complex__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 2.5rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 1.5rem;
  transition: all .2s ease-out; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: -0.5rem;
    color: transparent;
    display: inline-block;
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    -webkit-background-clip: text; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.form__radio-input {
  display: none; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s ease-out; }
  @media screen and (max-width: 37.5em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1); }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .form__input:invalid {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1); }
  .form__input::placeholder, .form__input::-ms-input-placeholder {
    color: #999;
    opacity: 1; }

.form__label {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all .2s ease-out; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media screen and (max-width: 37.5em) {
    .form__radio-group {
      width: 80%; }
      .form__radio-group:not(:last-child) {
        margin-bottom: 2rem; } }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4rem;
  position: relative; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  border: 0.5rem solid #55c57a;
  border-radius: 50%;
  position: absolute;
  top: -0.4rem;
  left: 0; }
  .form__radio-button::after {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background-color: #55c57a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 199;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-out; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    text-decoration: none;
    font-size: 3rem;
    color: #777;
    line-height: 1;
    transition: color .3s ease-out; }
  .popup__close:hover, .popup__close:focus {
    color: #55c57a; }
  .popup__content {
    background-color: #fff;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.25, 0.75);
    border-radius: 3px;
    box-shadow: 0 2rem 4rem #000, 0.2;
    display: table;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all .4s .2s ease-out; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
    visibility: visible; }
  .popup__left {
    display: table-cell;
    width: 33.333333%; }
  .popup__right {
    display: table-cell;
    width: 66.666666%;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    width: 100%;
    display: block; }
  .popup__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  @media screen and (max-width: 75em) {
    .popup__close:link, .popup__close:visited {
      font-size: 5rem; } }
  @media screen and (max-width: 56.25em) {
    .popup__left {
      display: block;
      width: 100%; }
    .popup__right {
      display: block;
      width: 100%; }
    .popup__img:first-child {
      display: none; } }
  @media screen and (max-width: 37.5em) {
    .popup__content {
      width: 90%; }
    .popup__right {
      padding: 2rem 2rem;
      text-align: center; }
    .popup__text {
      column-count: 1; } }

.story {
  background-color: rgba(255, 255, 255, 0.6);
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0deg);
      padding: 3rem;
      text-align-last: center;
      width: 100%; } }
  .story__text {
    transform: skewX(12deg); }
    @media screen and (max-width: 37.5em) {
      .story__text {
        text-align: center;
        transform: skewX(0deg); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative; }
    @media screen and (max-width: 37.5em) {
      .story__shape {
        transform: translateX(0) skewX(0deg);
        float: none;
        margin: 0 auto 2rem; } }
  .story::after {
    content: "";
    display: table;
    clear: both; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s ease-out; }
  .story__caption {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    color: #fff;
    text-transform: uppercase;
    transition: all .5s ease-out; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media screen and (max-width: 75em) {
    .footer {
      padding: 6rem 0; } }
  @media screen and (max-width: 37.5em) {
    .footer {
      padding: 4rem 0 3rem; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media screen and (max-width: 75em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
    @media screen and (max-width: 37.5em) {
      .footer__logo-box {
        margin-bottom: 3rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: block;
    margin-right: 10%; }
    @media screen and (max-width: 75em) {
      .footer__navigation {
        margin-right: 0; } }
    @media screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    margin-bottom: 1rem; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s ease-out; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(-5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    float: right;
    margin-left: 10%; }
    @media screen and (max-width: 75em) {
      .footer__copyright {
        margin-left: 0; } }
    @media screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        text-align: center;
        float: none; } }

.row {
  max-width: 120rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
    @media screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  @media screen and (max-width: 75em) {
    .row {
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }
    @media screen and (max-width: 56.25em) {
      [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4rem; } }
  @media screen and (max-width: 56.25em) {
    [class^="col-"] {
      width: 100% !important; } }

.col-1-2 {
  width: calc((100% - 6rem) / 2); }

.col-1-3 {
  width: calc((100% - (2*6rem)) / 3); }

.col-2-3 {
  width: calc(((100% - (2*6rem)) / 3) * 2 + (1*6rem)); }

.col-1-4 {
  width: calc((100% - (3*6rem)) / 4); }

.col-2-4 {
  width: calc(((100% - (3*6rem)) / 4) * 2 + (1*6rem)); }

.col-3-4 {
  width: calc(((100% - (3*6rem)) / 4) * 3 + (2*6rem)); }

.header {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  height: 95vh;
  position: relative;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 112.5em) {
    .header {
      background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  @media screen and (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  z-index: 100; }
  @media screen and (max-width: 75em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  border-radius: 50%;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 90; }
  @media screen and (max-width: 75em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 0;
  opacity: 0; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  min-width: 35rem; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .4s ease-out; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100vw;
  opacity: 1;
  z-index: 95; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    background-color: #777;
    display: inline-block;
    transition: all .2s ease-out; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon:before {
  top: -1rem; }

.navigation__button:hover .navigation__icon:after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media screen and (max-width: 75em) {
    .section-about {
      padding: 20rem 0; } }
  @media screen and (max-width: 56.25em) {
    .section-about {
      padding: 25rem 10rem 55rem; }
      .section-about .col-1-2 {
        text-align: center; }
      .section-about .btn-text {
        float: right;
        margin-bottom: 2rem; } }
  @media screen and (max-width: 37.5em) {
    .section-about {
      padding: 20rem 0 30rem; }
      .section-about .btn-text {
        float: none; } }

.section-features {
  padding: 20rem 0;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media screen and (max-width: 75em) {
    .section-features {
      padding: 15rem 0; } }
  @media screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 20rem; } }
  @media screen and (max-width: 37.5em) {
    .section-features {
      padding: 10rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem;
  margin-top: -10rem; }
  @media screen and (max-width: 75em) {
    .section-tours {
      padding: 20rem 0 10rem; } }
  @media screen and (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 20rem 10rem; } }
  @media screen and (max-width: 37.5em) {
    .section-tours {
      padding: 20rem 0 10rem; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media screen and (max-width: 75em) {
    .section-stories {
      padding: 10rem 0; } }
  @media screen and (max-width: 37.5em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
  @media screen and (max-width: 75em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 51%;
    padding: 6rem; }
  @media screen and (max-width: 37.5em) {
    .book {
      background-image: linear-gradient(-15deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 75%, transparent 75%), url(../img/nat-10.jpg); }
      .book__form {
        width: 100%;
        padding: 25rem 3rem 5rem; } }
