$col-prim: #55c57a;
$col-prim-l: #7ed56f;
$col-prim-d: #28b485;

$col-grey-light-1: #e7e7e7;
$col-grey-d: #777;
$col-white: #fff;

$col-black: #000;

$grid-width: 120rem;
$vertical-gap : 2rem;
$horizontal-gap: 6rem;

$font-default: 1.6rem;