$col-prim: #55c57a;
$col-prim-l: #7ed56f;
$col-prim-d: #28b485;

$col-scnd-l: #ffb900;
$col-scnd-d: #ff7730;

$col-tert-l: #2998ff;
$col-tert-d: #5643fa;

$col-grey-light-1: #f7f7f7;
$col-grey-light-2: #eee;

$col-grey-d: #777;
$col-white: #fff;
$col-black: #000;

$grid-width: 120rem;
$vertical-gap: 6rem;
$vertical-gap-s: 4rem;
$horizontal-gap: 6rem;

$font-default: 1.6rem;