.complex {
    position: relative;

    &__photo {
        width: 55%;
        border-radius: 2px;
        box-shadow: 0 1.5rem 4rem rgba($col-black, 0.4);
        position: absolute;
        outline-offset: 2rem;
        transition: all 0.2s ease-out;

        &--p1 {
            top: -2rem;
            left: 0;
        }

        &--p2 {
            top: 2rem;
            right: 0;
        }

        &--p3 {
            top: 10rem;
            left: 20%;
        }

        &:hover {
            box-shadow: 0 2.5rem 4rem rgba($col-black, 0.5);
            transform: scale(1.03) translateY(-0.5rem);
            outline: 2rem solid $col-prim;
            z-index: 11;
        }
    
        @include respond(phone) {
            width: 40%;
            box-shadow: 0 .5rem 2rem rgba($col-black, 0.2);

            &--p1 {
                top: 0;
            }

            &--p2 {
                top: 0;
            }

            &--p3 {
                top: -1rem;
                left: 30%;
            }

         }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}
