.form {

    &__radio-input {
        display: none;
    }
    
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($col-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s ease-out;

        &:focus {
            outline: none;
            border-bottom: 3px solid $col-prim;
            box-shadow: 0 1.5rem 4rem rgba($col-black, .1);

            &:invalid {
                border-bottom: 3px solid $col-scnd-d;
            }
        }

        &:invalid {
            box-shadow: 0 1.5rem 4rem rgba($col-black, .1);
        }

        &::placeholder,
        &::-ms-input-placeholder {
            color: #999;
            opacity: 1;
        }
    }

    &__label {
        font-weight: 700;
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all .2s ease-out;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-label {
        font-size: $font-default;
        cursor: pointer;
        padding-left: 4rem;
        position: relative;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        display: inline-block;
        border: .5rem solid $col-prim;
        border-radius: 50%;
        position: absolute;
        top: -0.4rem;
        left: 0;

        &::after {
            content: "";
            width: 1.2rem;
            height: 1.2rem;
            display: block;
            background-color: $col-prim;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}