body {
    font-family: 'lato', Arial, Helvetica, sans-serif;
    line-height: 1.7;
    font-weight: 400;
    padding: 3rem;
    color: $col-grey-d;
}

.heading-primary {
    color: $col-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden;
    
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1s ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        margin: 0 auto;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background: linear-gradient(to right, $col-prim-l, $col-prim-d);
    -webkit-background-clip: text;
    color: transparent;
    transition: transform .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($col-black, .2);
    }
}

.heading-tertiary {
    font-size: $font-default;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $font-default;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}